@charset "utf-8";
input.search{width:20vw;height:50px;border:none; font-size:16px;color:#626262;line-height:30px;background-color: #ececec;}

/* common */
.index_wrap{position:absolute;top:40%;left:50%;transform:translate(-50%)}
.index_wrap .search{margin-top:20px;background:#ececec url(../images/ico_search.png) no-repeat 15px center;padding-left:50px;}
.logo a{font-size:20px;}

/* header */
header{padding:20px;}
header .logo{width:10vw;text-align:right;margin-right:20px;}
header .search{width:40vw;padding-left:10px;}
.btn_more_wrap{position:relative;}
.btn_more{padding-top:5px;}
.btn_more::before{display:inline-block;content:'\e93e';font-family:'axicon';font-size:30px;color:#737373;}
.btn_more + ul{display:flex;position:absolute;right:10px;display:none;width:200px;background-color:#ececec;padding:20px;}
.btn_more + ul:hover,
.btn_more:hover + ul{display:block;}
.btn_more + ul li{display:inline-block;}
.btn_more + ul li a{width:50px;height:50px;text-align:center;line-height:50px;margin-bottom:4px;background-color: #ffffff;}

/* snb */
.snb{position:absolute;left:0;width:250px;height:calc(100vh - 90px);background-color:#fcfcfc;padding:20px 20px 20px 40px;}
.snb a{display:block;line-height:30px;font-size:14px;}
.snb a.on,
.snb a:hover{font-weight:bold;text-decoration:underline;}
.snb>li>ul>li>a{margin-left:20px;}
.wrap{display:inline-block;margin-left:270px;width:calc(100vw - 300px); padding:20px;}

/* join */
.tit_join{font-size:20px;margin:30px 0;padding-bottom:10px;border-bottom:1px solid #e2e2e2;}
.join_wrap>li{margin-bottom:10px;}
.join_wrap>li:last-child{margin-bottom:30px;}
.join_wrap input{margin:0 0 10px;}
.join_wrap label{display:block;margin-bottom:10px;font-size:15px;}

/* edit */
.summernote_wrap .note-editable{height:calc(100vh - 310px);}